<!doctype html5>
<html
<head>
    <style>
        body {
            background-color: #4B7399;
        }

        div#images {
            background-color: white;
            padding: 20px 50px;
            width: {{ width }};
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div id="images">
    {%- for image in images -%}
    <h3 id="{{ image['anchor'] }}" onclick="window.open('/pipeline/qa/help/{{ help_lookup.get(image['anchor']) }}')", "Help", "width=400px, height=500pxk, menubar=no, status=no, titlebar=no, toolbar=no")">{{ image['title'] }}</h3>
    <img src="{{ image['location'] }}" width="{{ width }}" />
    <br />
    {% endfor %}
</div>
</body>
</html>
